name: Go Project CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          cache-dependency-path: ./src/go.sum

      - name: Install Go dependencies
        run: go mod download

      - name: Build
        run: go build -v ./src/...

      - name: Test
        run: go test -v ./src/...